html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(29, 124, 103);
    border-radius: 30px;
    border: 8px solid #000;
    width: 350px;
    height: 400px;
}
h1, p{
    font-family:  'Segoe UI';
}
p{
    font-weight: bold;
}
input{
    width: 30px;
}
button{
    cursor: pointer;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px gray;
    margin-top: 15px;
    width: 50%;
    height: 50px;
}
button:hover {
    background-color: rgb(141, 141, 141);
    box-shadow: 0 9px black;
}
button:focus { outline-style: none; }
.container > div{
    display: flex;
}
.campo{
    border: 1px solid black;
    width: 32px;
    height: 32px;
    font-size: 20pt;
    text-align: center;
}